@import url("https://fonts.googleapis.com/css?family=Open+Sans|Montserrat&display=swap");
a:link {
  text-decoration: none;
  color: unset;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  background-color: #f7f7f7;
  margin: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, ul {
  font-family: "Montserrat";
}

.bg-image {
  background: url("/images/header_images/index-header-image.jpg") no-repeat center;
  background-size: cover;
  min-height: 60vh;
  position: relative;
}

.bg-image .bg-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  background-color: #090909;
  padding: 0px 20px 10px 20px;
}

.bg-image .bg-text h1 {
  letter-spacing: 2px;
}

.bg-image .bg-text h3 {
  font-weight: lighter;
}

nav {
  /* Dropdown */
  background-color: #090909;
  /**Navbar**/
}

nav .dropbtn {
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

nav .dropdown {
  position: relative;
  display: inline-block;
  margin: 0;
}

nav .dropdown-content {
  display: none;
  position: relative;
}

nav .dropdown-content a {
  color: #fff;
  padding: 12px 0 12px 0;
  padding-left: 36px;
  text-decoration: none;
  display: block;
}

nav .dd--active {
  color: #10759C !important;
}

nav .show {
  display: block;
}

nav ul {
  display: none;
}

@media (min-width: 620px) {
  nav .dropbtn {
    display: none;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #090909;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav ul li {
    float: left;
  }
  nav ul li a {
    display: block;
    color: #fff !important;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
  }
}

@media (min-width: 620px) and (min-width: 1020px) {
  nav ul li a {
    padding: 10px 25px !important;
  }
}

@media (min-width: 620px) {
  nav ul li a.li--active {
    color: #000 !important;
    background-color: #f7f7f7;
  }
  nav ul li a:hover:not(.li--active) {
    color: #10759C !important;
  }
}

main {
  padding: 0 20px 0 20px;
  margin-bottom: 15px;
}

@media (min-width: 620px) {
  main {
    padding: 0 100px 0 100px;
    padding-top: 40px;
  }
}

@media (min-width: 1020px) {
  main {
    padding: 0 20% 0 20%;
    padding-top: 40px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "heading      heading" "categories     books";
  }
}

@media (min-width: 1020px) {
  main section {
    grid-area: heading;
    margin-bottom: 30px;
  }
}

main section div {
  text-align: right;
  padding: 20px;
  border-right: 3px solid #8E8E93;
}

@media (min-width: 1020px) {
  main #btnContainer {
    grid-area: categories;
    margin-right: 20%;
  }
}

@media (min-width: 1020px) {
  main .selectors {
    border-right: 1px solid #8E8E93;
  }
  main .selectors .btn {
    background-color: #ffffff00 !important;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    display: block;
    padding-top: 15px;
    padding-left: 0 !important;
  }
  main .selectors .btn.active {
    background-color: #090909;
    color: #10759C;
    padding-left: 15px !important;
  }
}

main .filterDiv {
  margin: 5px;
  display: none;
}

main .show {
  display: block;
}

main .container {
  margin-top: 20px;
  overflow: hidden;
}

@media (min-width: 1020px) {
  main .container {
    grid-area: books;
  }
}

main .btn {
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 2px 10px 3px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 0;
  background-color: #EBEBEB;
  position: relative;
  font-family: unset;
  font-size: unset;
  cursor: pointer;
}

main .btn.active {
  background-color: #090909;
  color: #fff;
}

/**Accordion**/
.accordion-box {
  background-color: #ffffff00;
  width: 90%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "Montserrat";
  font-size: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bk-grid-1 img {
  width: 5em;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

@media (min-width: 620px) {
  .bk-grid-1 img {
    width: 8em;
  }
}

@media (min-width: 1020px) {
  .bk-grid-1 img {
    width: 8em;
  }
}

.bk-grid-4 button {
  background-color: #ffffff00;
  border: none;
  cursor: pointer;
  outline: 0;
}

.bk-grid-4 button:focus i {
  color: #10759C;
}

@media (min-width: 620px) {
  .accordion-box {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8em auto;
        grid-template-columns: 8em auto;
  }
  .bk-grid-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .bk-grid-2 {
    text-align: left;
    font-size: 18px;
    font-weight: lighter;
    padding-left: 30px;
  }
  .bk-grid-3 {
    text-align: left;
    font-size: 16px;
    padding-left: 30px;
  }
  .bk-grid-4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media (min-width: 1020px) {
  .accordion-box {
    -ms-grid-columns: 8em auto;
        grid-template-columns: 8em auto;
  }
  .bk-grid-2 {
    font-size: 20px;
  }
  .bk-grid-3 {
    font-size: 18px;
  }
}

.accordion .arrow:after {
  content: 'arrow_back_ios';
  color: #8E8E93;
}

.accordion--active .arrow:after {
  content: 'arrow_forward_ios';
  color: #8E8E93;
}

.accordion__panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  text-align: left;
}

.hr {
  width: 50%;
  margin: 30px 0 40px 50%;
  border-bottom: 1px solid #8E8E93;
}

/*********************************************************************************
$var == .filterDiv:last-child;

@if $var == true {
.end-line {
  @extend .hr;
}
}
/********************************************************************************/
/**Footer**/
footer {
  background-color: #EBEBEB;
  padding: 0 20px 0 20px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  color: #8E8E93;
}

footer li:hover, footer p:hover {
  color: #10759C !important;
}

@media (min-width: 620px) {
  footer {
    padding: 0 100px 0 100px;
  }
}

@media (min-width: 1020px) {
  footer {
    padding: 0 20% 0 20%;
  }
}

footer h2 {
  padding-bottom: 12px 0 12px 0;
  font-weight: lighter;
}

footer ul {
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
}

footer ul i {
  position: relative;
  top: 5px;
  left: 0px;
  margin-right: 15px;
  padding: 10px 0;
}
/*# sourceMappingURL=main.css.map */